<div class="container">
  @if (isLoading) {
    <div class="loading">
      <div class="loader"></div>
    </div>
  } @else if (item) {
    <app-navbar></app-navbar>

    <div class="header">
      <h1>{{ item.name | titlecase }}</h1>
    </div>

    <div class="grid-container">
        @for (material of item.materials; track material) {
          <div class="grid-item" [class.active]="materialDescription === material.description" (click)="selectMaterial(material.name)">
            <div class="material">
              <img
                src="icons/impact/{{ material.impact }}.svg"
                alt="{{ (material.impact + ' impact') | titlecase }}"
              >
              <h2>
                {{ material.name | titlecase }}
              </h2>
            </div>
          </div>
        }
    </div>

    @if (item.valuable) {
      <div class="valuable-block">
        <h3>
          Potentially valuable item
        </h3>
      </div>
    }

    <div class="block">
      @if (materialDescription) {
          <h3>
              Material overview
          </h3>
          <p>
              {{ materialDescription }}
          </p>
      }

      @if (item.reuse.length > 0) {
        <h3>
          Reuse
        </h3>
        <ul>
          @for (reuseItem of item.reuse; track reuseItem) {
            <li>{{ reuseItem | titlecase }}</li>
          }
        </ul>
      }

      @if (item.recycle.length > 0) {
        <h3>
          Dispose
        </h3>
        <ul>
          @for (disposeItem of item.recycle; track disposeItem) {
            <li>{{ disposeItem | titlecase}}</li>
          }
        </ul>
      }
    </div>
  }
</div>
