.header {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 32px;
  }
}

.or {
  font-size: 16px;
  padding: 24px;
  text-align: center;
}

.block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  border-radius: var(--border-radius);
  background: var(--color-surface);
}

.photo-block {
  height: 30%;
  min-height: 180px;
}

.text-input {
  width: calc(100% - 16px);
  margin: 8px;
  padding: 0 16px;
  height: 40px;
  border-radius: var(--border-radius);
  border: none;
  font-size: 16px;
  font-family: inherit;
  color: var(--color-primary);
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image {
  height: 48px;
}

.description {
  font-size: 16px;
  margin: 4px;
  width: 100%;
  padding: 0 8px;
}
