<div class="page">
  <div style="height: 84px"></div>

  <div class="header">
    <h1>How to declutter?</h1>
    <p>Enter a photo or description to find out!</p>
  </div>

  <!-- Upload assets block -->
  <div class="photoBlock">
    <div class="input">
      <img class="image" src="Camera.svg" alt="Phone with app screenshot">
    </div>
      <button class="intro-button">Enter photo</button>
  </div>

  <!-- Or -->
  <p class="or">or</p>

  <!-- Describe object block -->
  <div class="textBlock">
      <label class ="description" for="object-description">
        Describe object
      </label>
    <input
      id="object-description"
      class="text-input"
      type="text"
      #searchInput
      placeholder="Old sunflower oil..."
    />

    <button class="intro-button" (click)="viewItemOverview(searchInput.value)">
      Enter
    </button>
  </div>

  <p>{{ chatResponse }}</p>
</div>
