<div class="container">
  <app-navbar></app-navbar>

  <div class="header">
    <h1>
      How to declutter?
    </h1>
    <p>
      Enter a photo or description to find out!
    </p>
  </div>

  <div class="block photo-block">
    <div class="input">
      <img class="image" src="icons/camera.svg" alt="Camera">
    </div>
      <button class="button">
        Photo
      </button>
  </div>

  <p class="or">
    or
  </p>

  <div class="block text-block">
    <label class ="description" for="object-description">
      Describe object
    </label>
    <input
      #searchInput
      id="object-description"
      class="text-input"
      type="text"
      placeholder="Old sunflower oil..."
    />

    <button class="button" (click)="navigateItemOverview(searchInput.value)">
      Enter
    </button>
  </div>
</div>
