:root {
  --color-primary: #028661;
  --color-surface: #ffffff66;
  --color-text: #ffffff;
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Inter, sans-serif;
  background: var(--color-primary);
}

.container {
  height: 100%;
  max-width: 840px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  padding: 0 16px 16px;
}

.button {
  width: calc(100% - 16px);
  padding: 12px 24px;
  margin: 8px 0;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-text);
  color: var(--color-primary);
}
